body{
    font-family: 'Montserrat', sans-serif;
}

.nav-link{
    color: white !important; 
}

section{
    padding: 50px 0;
}

.centered{
    transform: translate(-50%, -50%);
}

.title{
    font-size:50px;
}